body {
  /* align-items: center; */
  background: #141414;
  color: #ffffff;
}

.header {
  height: auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  opacity: 0.7;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.login {
  text-align: center;
}

.formContainer {
  max-width: 300px;
  display: flex;
  justify-content: "center";
  align-items: "center";
  margin: auto;
}
input[type="submit"] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type="submit"] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type="text"] {
  padding: 5px 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type="password"] {
  padding: 5px 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row_poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.new-shoe {
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home {
  margin-right: 35px;
  margin-left: 35px;
}
.contacts {
  margin-right: 10px;
  margin-left: 35px;
}

.signup {
  margin-right: 35px;
  margin-left: 35px;
}
.shoes {
  margin-right: 35px;
}

.login {
  margin-right: 35px;
  margin-left: 35px;
}

.App {
  text-align: center;
  display: flex;
}

img {
  height: auto;
  max-height: 40em;
  width: 30em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
